:root {
  --background-color: #ffffff;
  --border-color: #f2e205;
  --font-secondary-color: grey;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
  position: relative;
}

h1 {
  font-weight: bold;
  font-size: 3.2rem;
}

.homepage {
  color: white;
}

.homepage-top-container {
  height: 350px;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cdn.pixabay.com/photo/2015/08/28/11/27/space-911785_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.homepage-details {
  margin-right: 50px;
  color: rgb(218, 218, 218);
}

.homepage-title {
  background: linear-gradient(20deg, #ff00d4, #ffee00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-image {
  position: absolute;
  left: 15%;
  transform: translate(-50%, -50%);
  height: 350px;
  border-radius: 15px;
  border: solid white 6px;
}
